<header>
    <nav>
    <div>
        <a href="#"><i class="fas fa-home" style="color:#fdb927"></i> Home</a>
        <a href="#"><i class="fas fa-user" style="color:#fdb927"></i> My Page</a>
        <a href="#"><i class="fas fa-project-diagram" style="color:#fdb927"></i> Projects</a>
        <a href="#"><i class="fas fa-tools" style="color:#fdb927"></i> Administration</a>
        <a href="#"><i class="fas fa-question-circle" style="color:#fdb927"></i>Help</a>
  
        
      </div>
      <div>
        <a href="@">Login in as admin</a>
        <a href="@">My account</a>
        <a href="@">Sign out</a>
  
      </div>
    </nav>
</header>
<nav class="navbar">
  <h1>Ticketing System</h1>
          <label name="search">Search : </label>
          <input type="search" >
          <input list="search" placeholder="Jump to a Project" />
          <datalist id="search">
              <option value="PAE">
              <option value="EWS">
              </datalist>
      </nav>
   

