<div>
    <h3 class="text-white">
      <b><i class="fa fa-user-plus text-warning" aria-hidden="true"></i>&nbsp;Add User</b>
      <div class="float-right" (click)="closeButton('simple')">
        <i class="fa fa-close"></i>
      </div>
    </h3>
    <hr color="grey">
  </div>
  <div class="main-design text-center">
  
    <form [formGroup]="signUpForm" #sign="ngForm">
      <div class="row">
        <div class="col-6">
          <label class="label-sec">Full Name</label>
          <input type="text" placeholder="Enter Full Name" formControlName="name" autocomplete="off" />
          <mat-error class="error" *ngIf="(signupSubmitted || f.name.touched) && f.name?.errors?.required">
            Full Name is Required
          </mat-error>
          <mat-error class="error" *ngIf="f.name.errors?.pattern">
            Only alphanumeric Name is Required
          </mat-error>
        </div>
        <div class="col-6">
          <label class="label-sec">Username</label>
          <input type="text" placeholder="Enter Username" formControlName="username" autocomplete="off" />
          <mat-error class="error" *ngIf="(signupSubmitted || f.username.touched) && f.username?.errors?.required">
            Username is Required
          </mat-error>
          <mat-error class="error" *ngIf="f.username.errors?.pattern">
            Only alphanumeric Username is Required
          </mat-error>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label class=" label-sec">Email</label>
          <input type="email" placeholder="Email" formControlName="email" autocomplete="off" />
          <mat-error class="error" *ngIf="(signupSubmitted || f.email.touched) && f.email?.errors?.required">
            Email is Required
          </mat-error>
          <mat-error class="error" *ngIf="f.email.errors?.pattern?.requiredPattern">
            Invalid Email Pattern
          </mat-error>
        </div>
        <div class="col-6">
          <label class="label-sec">Select Role</label>
          <mat-form-field appearance="fill" class="sele1">
            <mat-label class="redd">Role</mat-label>
            <mat-select formControlName="role">
              <mat-option value="superadmin">Administrator</mat-option>
              <mat-option value="admin">Node Administrator</mat-option>
              <mat-option value="user">Node User</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
      </div>
      <div class="row">
        <div class="col-6">
          <label class="label-sec">Password <i class="fa fa-info-circle  ciri"
              title="Must contain min 7 Characters.Must have one capital and one small character.Must contain one letter."
              aria-hidden="true"></i></label>
          <input #id2change1 type="hidden" id="Password" name="password" formControlName="password" autocomplete="off"
            (change)="myEncryption($event)">
          <input #id2change type="password" id="orgPassword" name="orgPassword" autocomplete="new-password"
            autocomplete="off" placeholder="Password" formControlName="orgPassword" readonly
            onfocus="this.removeAttribute('readonly');" (change)="myEncryption($event)">
  
          <mat-error class="error" *ngIf="(signupSubmitted || f.orgPassword.touched) && f.orgPassword?.errors?.required">
            Password is Required
          </mat-error>
          <mat-error class="error" *ngIf="f.orgPassword.errors?.minLength">
            Password must be more than seven characters long. 
          </mat-error>
          <mat-error class="error" *ngIf="Invaild">
            Must have one capital and one small character.Must contain one specail Characters and Numbers. 
          </mat-error>
        </div>
        <div class="col-6">
          <label class="label-sec">Confirm Password</label>
          <input #confirmpassword1 type="hidden" id="encCpassword" name="encCpassword" formControlName="encCpassword"
            autocomplete="off" (change)="encConfirmPassword($event)">
          <input #confirmpassword type="password" id="cpassword" name="cpassword" autocomplete="conf-password"
            autocomplete="off" placeholder="Confirm Password" formControlName="cpassword" readonly
            onfocus="this.removeAttribute('readonly');" (change)="encConfirmPassword($event)">
  
  
          <mat-error class="error" *ngIf="f.cpassword.errors?.minLength">
            Password must be more than seven characters long.
          </mat-error>
          <mat-error class="error" *ngIf="(signupSubmitted || f.cpassword.touched) && f.cpassword.invalid">
            Confirm Password is Required
          </mat-error>
          <mat-error class="error" *ngIf="cInvaild">
            Invalid Confirm Password Pattern
          </mat-error>
        </div>
      </div>
      <hr color="grey">
  
      <div class="row">
        <div class="col-9"></div>
        <div class="col-3">
          <button class="btn btn-warning bt  " [disabled]="!signUpForm.valid || Invaild  ||cInvaild" (click)="addUser()">Sign Up</button>
        </div>
  
  
      </div>
  
    </form>
  
  </div>