<app-header></app-header>
<main><br>
    <pre>
    <strong>Home</strong><br>
    <a href="@"><small><strong>Ticketing System</strong></small></a><br>
    <small>The project <strong>"Nationalwide Rollout of Honeypot Threat Capturing Sensors"</strong> Ticketing System is implemented to track the <strong>DOWN</strong> status of Sensor Nodes.<br>
    Tickets will be raised the Node Status tracker of the nodes which are down for more than 12 hours.<br>
    in case the node gets UP in due time before assigning to the analyst, the status will be changed automatically to <strong>CLOSED</strong> and Ticket will be marked as <strong>CLOSED</strong>.</small>
    </pre>
<main>
<!-- <app-footer></app-footer> -->