.container
{
    display: flex;
    margin-top: 10px;
    
}
#h3
{

    color: orange;
    font-size: 20px;
    float: left;
}
#new
{
    text-decoration: none;
    color: orange;
    margin-top : 10px;
    font-size: 12px;
    margin-left: 80%;
}
#icon
{
    padding: 2px; width: 20px; margin-top:10px; background-color: transparent;
}
