#heading-2
{
    color: orange;
    margin-left: 10px;
}
#heading-3
{
    color:white;
    margin-left: 10px;
}
p
{
    color:white;
    font-size: 12px;
}
#div1
{
    margin-left: 10px;
}
#A1
{
    text-decoration: none;
    color:white;
}
.parent-container {
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 10px;
}

.container 
{
    width: 120vh;
    box-sizing: border-box;
    border: 1px solid #ddd;
    margin-bottom: 20px;}