<app-header></app-header><br>
<h2 id = "heading-2" >NCC SENSOR NODES</h2>
<h3 id = "heading-3">Overview</h3>
<div class="parent-container">
<div class="container">
<p>
The Ticketing System for NCCC-Sensor Nodes to track node down status of the project <strong style="color: orange;">"Nationalwide Rollout of Honeypot Threat Capturing Sensors"</strong>.Tickets 
will be raised the Node Status tracker of the nodes which are down for more than 12 hours.In case the node gets UP the status will be changed to CLOSED  
and Ticket will be marked as CLOSED.
</p>
</div>
<div class="container">
    <p>Here is some content for the second div.</p>
</div>
</div>
    


    