
 <app-header></app-header>
 
<div class="row">
    <div class="col-9">
        <h3>Projects</h3>
      <form action="">
        <fieldset class="border p-2">
          <legend  class="w-auto">Filters:</legend><br> 
            <label for="">Status:</label>
            <select name="Status" id="">
            <option value="">Active</option>
            <option value="">Deactivate</option>
            <option value="None">None</option>
                    </select>
                    <label for="">Project:</label>
                    <input type="text">
                    <input type="submit" name="" class="button">
                    <input type="reset" value="Clear" class="button">
                    
    </fieldset>
      </form>
      <div class="box-body table-responsive no-padding">
        <mat-paginator #paginator="matPaginator" [pageSizeOptions]="[5, 10, 25, 50,100]"
    aria-label="Select page of users">
</mat-paginator>

<table mat-table [dataSource]="dataSource" class="table">
    <ng-container matColumnDef="vm_id">
        <th mat-header-cell *matHeaderCellDef class="tab-header">Project</th>
        <td mat-cell *matCellDef="let row;">{{ row.vm_id}} </td>
    </ng-container>

    <ng-container matColumnDef="vm_name">
        <th mat-header-cell *matHeaderCellDef class="tab-header">Public</th>
        <td mat-cell *matCellDef="let row">{{ row.vm_name}} </td>
    </ng-container>

    <ng-container matColumnDef="browser_id">
        <th mat-header-cell *matHeaderCellDef class="tab-header">Created</th>
        <td mat-cell *matCellDef="let row">{{row.browser_name}} </td>
    </ng-container>

    
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row;"><button (click)="deleteProfile(row.vm_id)"
            class="btn btn-sm btn-primary-del">Delete</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="9">No data found</td>
    </tr>

</table>                            
    </div>
      
    </div>




      <!-- administration tag -->
    <div class="col-3 administration">

        <h3>Administration</h3>
    <ul class="navbar">
        <li class="nav-item">
            <a class="nav-link active" role="button" data-toggle="dropdown" href="dashboard/project" aria-haspopup="true"
              aria-expanded="false" [ngClass]="{'nav-item-active': (( currentComponent  === 'project') )}"
              (click)="navigation('project')">
              <i class="fas fa-project-diagram " style="padding:2px; color: #fdb927 " aria-hidden="true" ></i>
              Projects
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active"  role="button" data-toggle="dropdown"
              href="administration/users" aria-haspopup="true" aria-expanded="false"
              [ngClass]="{'nav-item-active': (( currentComponent  === 'administration/users') )}" (click)="navigation('administration/users')">
              <i class="fa fa-user" style="padding:2px; color: #ebb239;" aria-hidden="true" ></i> Users
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active"  role="button" data-toggle="dropdown"
              href="/dashboard/projects" aria-haspopup="true" aria-expanded="false"
              [ngClass]="{'nav-item-active': (( currentComponent  === 'projects') )}" (click)="navigation('projects')">
              <i class="fas fa-group" style="padding:2px; color: #fdb927;" aria-hidden="true" ></i> Groups
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"  role="button" data-toggle="dropdown"
            href="/dashboard/Administration" aria-haspopup="true" aria-expanded="false"
            [ngClass]="{'nav-item-active': (( currentComponent  === 'projects') )}" (click)="navigation('Administration')">
            <i class="fas fa-id-card" style=" color: #fdb927;padding: 2px;"   aria-hidden="true" ></i> 
            Roles & Permissions
          </a>
        </li> 
        <li class="nav-item">
          <a class="nav-link active"  role="button" data-toggle="dropdown"
            href="/dashboard/projects" aria-haspopup="true" aria-expanded="false"
            [ngClass]="{'nav-item-active': (( currentComponent  === 'projects') )}" (click)="navigation('projects')">
            <i class="fas fa-chart-line" style="color: #fdb927;
            padding: 2px;" aria-hidden="true"></i>Trackers
        </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active"  role="button" data-toggle="dropdown"
              href="/dashboard/projects" aria-haspopup="true" aria-expanded="false"
              [ngClass]="{'nav-item-active': (( currentComponent  === 'projects') )}" (click)="navigation('projects')">
              <i class="fas fa-exclamation-circle" style="color: #fdb927;
              padding: 2px;" aria-hidden="true"></i>Issue Status
          </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  role="button" data-toggle="dropdown"
              href="/dashboard/projects" aria-haspopup="true" aria-expanded="false"
              [ngClass]="{'nav-item-active': (( currentComponent  === 'projects') )}" (click)="navigation('projects')">
              <i class="fas fa-tasks" style="color: #fdb927;
              padding: 2px;" aria-hidden="true"></i>Workflow
          </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  role="button" data-toggle="dropdown"
              href="/dashboard/projects" aria-haspopup="true" aria-expanded="false"
              [ngClass]="{'nav-item-active': (( currentComponent  === 'projects') )}" (click)="navigation('projects')">
              <i class="fas fa-sliders-h" style="color: #fdb927;
              padding: 2px;" aria-hidden="true"></i>Custom Fields
          </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  role="button" data-toggle="dropdown"
              href="/dashboard/projects" aria-haspopup="true" aria-expanded="false"
              [ngClass]="{'nav-item-active': (( currentComponent  === 'projects') )}" (click)="navigation('projects')">
              <i class="fas fa-list-ol" style="color: #fdb927;
              padding: 2px;" aria-hidden="true"></i>Enumerations
          </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  role="button" data-toggle="dropdown"
              href="/dashboard/projects" aria-haspopup="true" aria-expanded="false"
              [ngClass]="{'nav-item-active': (( currentComponent  === 'projects') )}" (click)="navigation('projects')">
              <i class="fas fa-cogs" style="color: #fdb927;
              padding: 2px;" aria-hidden="true"></i>Settings
          </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  role="button" data-toggle="dropdown"
              href="/dashboard/projects" aria-haspopup="true" aria-expanded="false"
              [ngClass]="{'nav-item-active': (( currentComponent  === 'projects') )}" (click)="navigation('projects')">
              <i class="fas fa-puzzle-piece" style="color: #fdb927;
              padding: 2px;" aria-hidden="true"></i>Plugins
          </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  role="button" data-toggle="dropdown"
              href="/dashboard/projects" aria-haspopup="true" aria-expanded="false"
              [ngClass]="{'nav-item-active': (( currentComponent  === 'projects') )}" (click)="navigation('projects')">
              <i class="fas fa-info-circle" style="color: #fdb927;
              padding: 2px;" aria-hidden="true"></i>Information
          </a>
          </li>
     </ul>
    </div>
</div>