h3{
    color: white;
}
.navbar{
    color: white;
    display: block;
}

form{
    color: white;

}

fieldset{
    border: 3px solid white;
}

.administration{
    background-color: #0f1b40;
    height: 580px ;
}

ul{
    list-style-type: none
}