/* You can add global styles to this file, and also import other style files */
$redbtn: Red;
$grnbtn: #24d424;
$ylwclr: #fdb927;



html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #111725 !important;
  color: #fff;
}
.leaflet-top, .leaflet-bottom {
  z-index: 998 !important;
}
.lod{
  padding:10px;
     height:700px;
  }
.mat-dialog-container{
  width: 1200px !important;
   
    input,select{
      width: 100%;
      margin: 10px;
      padding: 10px;
    }
}

.mat-tooltip.tooltip-with-arrow-cust::before {
  position: absolute;
  content: '';
  display: inline-block;
  background-color: #000;
  left: 50%;
  width: 8px;
  height: 8px;
  top: 0;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -1;
}


.mat-tooltip-panel-left.mat-tooltip-panel .mat-tooltip.tooltip-with-arrow-cust::before {
  left: auto;
  right: -4px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.mat-chip-list-wrapper {
  margin: 0px !important;
}


.text-center {
  text-align: center !important;
  color: white;
}

input {
  margin: 10px;
  padding: 10px;
  width: 25%;
}
.hrw{
  width:96%;
}

.txt {
  max-width: 100%;
  height: auto;
  color: white;
  text-align: center;
  padding: 15px 5px 10px 5px
}

/* Set a style for all buttons */
button {
  background-color: #007bff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.button-class {
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.swal2-styled.swal2-confirm{
  width: auto;
}

.underline {
  background-color: red;
  width: 50%;
}



.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: white;
  width: 70%;
  height: 1px !important;
}

.mat-mdc-form-field-appearance-legacy .mat-mdc-form-field-wrapper {
  padding-bottom: 1.25em;
  margin-left: -20px;
}

.mat-mdc-select-arrow {
  color: white !important;
}


.mat-mdc-form-field-appearance-fill .mat-mdc-form-field-flex {
  background-color: #0a0d16;
}
.mdc-line-ripple::before {
  border-bottom-color: aliceblue !important;
}
.mat-mdc-select-value-text {
  color: white;
}

.mat-mdc-text-field-wrapper{
  background-color: transparent !important;
  // min-height: 40px;
  // max-height: 100px;
  height: 60px !important;
}

.mat-mdc-paginator-icon {
  display: inline-block;
  width: 28px;
  fill: currentColor !important;
}

.hint-color {
  color: white !important;
}

.input-value {
  color: white !important;
}

.mat-datepicker-toggle {
  color: white;
}

.mat-calendar-body-cell-content {
  // date font color
  color: white;

}

.mat-date-range-input-separator {
  color: white;
}

.mat-datepicker-content-container {
  background-color: black;
}

.mat-calendar-table-header {
  color: white;
}

.mat-calendar-body-selected {
  // color: #f44336;
  background-color: #f8f9fa8a;
  border: none;
}

.mat-chip-list-wrapper .mat-standard-chip {
  background-color: #0a0d16 !important;
  color: white;
  
}
.pagi{
  margin-top: -67px;
}

[type=reset],
[type=submit],
button,
html [type=button] {
  color: white;
}

.mat-calendar-body-in-range::before {
  background-color: #343a40;
}

.mat-datepicker-toggle,
.mat-datepicker-content .mat-calendar-next-button,
.mat-datepicker-content .mat-calendar-previous-button {
  color: white;
}

.mat-calendar-body-disabled>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  background: black !important;
  color: #606060	!important;
}

.background-color {
  background-color: #181f32;
  min-height: 100vh;
  position: relative;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #0a0d16;
}
.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
  background-color: #181F32;
}

.background {
  background:#181f32;
  // border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
 
  }

.mat-mdc-sort-header {
  color: white;
  font-size: large;
}

.mat-mdc-header-cell {
  color: white;
  font-size: large;
}

mat-label{
  color: white !important;
}

.mat-mdc-form-field-appearance-standard .mat-mdc-form-field-underline{
  background-color: white;
}

input.mat-mdc-input-element{
  color: white !important;
}

.mat-mdc-paginator-container{
  color: white;
  font-size: medium;
  background-color: #0a0d16;
}

.mat-mdc-paginator-page-size-label{
  width: 200px;
}
.mat-mdc-paginator {
  color: #fdb927;
 
  
  background-color: #181F32 !important;
}
::ng-deep.mat-mdc-dialog-container{
  border: 1px solid #fdb927 !important;
  background: #181f32 !important;
  border-radius: 5px !important;
  display: block !important;
    padding: 24px !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
    overflow: auto !important;
    outline: 0 !important;
    width: 100% !important;
    height: 100% !important;
    min-height: inherit !important;
    max-height: inherit !important;
}

.mdc-dialog__surface{
  border: 1px solid #fdb927 !important;
  background: #181f32 !important;
  border-radius: 5px !important;
  display: block !important;
    padding: 24px !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
    overflow: auto !important;
    outline: 0 !important;
    width: 100% !important;
    height: 100% !important;
    min-height: inherit !important;
    max-height: inherit !important;
}

th{
  position: sticky;
  top: 0;
  background-color:#181f32;// #283350;
  z-index: 1;
}

// .table-striped > tbody > tr:nth-child(odd) > td {
//   background-color:#051d43;// #0e387a;
// }

// .table-striped > tbody > tr:nth-child(even) > td {
//   background-color:#001e4d;//#051f4f;
// }

.btn-up{
  width:70px;
  font-size: 13px;
  border: 1px solid $grnbtn;
  background-color: transparent;
  color: $grnbtn;
  box-shadow: inset -5px -5px 9px rgb(0 0 0 / 45%), inset 5px 5px 9px rgb(86 112 239 / 30%);
  // font-weight: bold;
}

.btn-down{
  width: 70px;
  font-size: 13px;
  border: 1px solid $redbtn;
  background-color: transparent;
  color: $redbtn;
  box-shadow: inset -5px -5px 9px rgb(0 0 0 / 45%), inset 5px 5px 9px rgb(86 112 239 / 30%);
  // font-weight: bold;
}
.error{
  color: $redbtn;
  font-size: initial;
}


.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.fa-close{
  cursor: pointer;
}

.evt-download{
  width: auto;
  border-radius: 5px;
  padding: 5px;
  color: $ylwclr;
  margin: auto;
  background-color: transparent;
  transition: all 150ms ease-in-out;
  
  &:hover {
    box-shadow: 0 0 10px 0 $ylwclr inset, 0 0 10px 4px $ylwclr;
  }
  }
.evt{
  width: 100px;
  border-radius: 5px;
  padding: 2px;
  border:1px solid $ylwclr;
  color: #fff;
  margin: auto;
  background-color: transparent;
  transition: all 150ms ease-in-out;
  
  &:hover {
    box-shadow: 0 0 10px 0 $ylwclr inset, 0 0 10px 4px $ylwclr;
  }
  }
  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.fa-spin{
  color:#fdb927;
   font-size: x-larger; 
   margin-left:20px; 
   --fa-animation-duration: 2s;
    margin-bottom:-10px;
}
.chart-box{
  background:#0a0d16;
  // border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  
  }
  .colo{
    color:#fdb927;
  }
  
.mat-datepicker-t button {
    color: black !important;
}
.mat-input-d {
    color: black !important;
    // padding: 0.375rem 0.75rem;
    padding-left: 17px !important;
}
.nav-link{
    color: white;
}
.date-picker {
  background-color: white !important;
}
.mat-mdc-select-panel{
  background-color: #0a0d16 !important;
}
.mat-mdc-option{
  color: white !important;
 }
 .mat-mdc-option-text{
  color: white !important;
 }
 .mat-pseudo-checkbox {

  border: 2px solid grey !important;
}

.mat-checkbox-frame {
  border: 2px solid grey !important;
 
}
.mat-checkbox-label{
  color: white;
}
.am5-modal{
  z-index: 100 !important;
}

.btn{
    color: $ylwclr;
}




// /* You can add global styles to this file, and also import other style files */
// $redbtn: Red;
// $grnbtn: #24d424;
// $ylwclr: #fdb927;



// html,
// body {
//   height: 100%;
// }

// body {
//   margin: 0;
//   font-family: Roboto, "Helvetica Neue", sans-serif;
//   background-color: #111725;
//   color: #fff;
// }
// .leaflet-top, .leaflet-bottom {
//   z-index: 998 !important;
// }
// .lod{
//   padding:10px;
//      height:700px;
//   }
// .mat-dialog-container{
//   width: 1200px !important;
   
//     input,select{
//       width: 100%;
//       margin: 10px;
//       padding: 10px;
//     }
// }

// .mat-tooltip.tooltip-with-arrow-cust::before {
//   position: absolute;
//   content: '';
//   display: inline-block;
//   background-color: #000;
//   left: 50%;
//   width: 8px;
//   height: 8px;
//   top: 0;
//   transform: translate(-50%, -50%) rotate(45deg);
//   z-index: -1;
// }


// .mat-tooltip-panel-left.mat-tooltip-panel .mat-tooltip.tooltip-with-arrow-cust::before {
//   left: auto;
//   right: -4px;
//   top: 50%;
//   transform: translateY(-50%) rotate(45deg);
// }

// .mat-chip-list-wrapper {
//   margin: 0px !important;
// }


// .text-center {
//   text-align: center !important;
//   color: white;
// }

// input {
//   margin: 10px;
//   padding: 10px;
//   width: 25%;
// }
// .hrw{
//   width:96%;
// }

// .txt {
//   max-width: 100%;
//   height: auto;
//   color: white;
//   text-align: center;
//   padding: 15px 5px 10px 5px
// }

// /* Set a style for all buttons */
// button {
//   background-color: #007bff;
//   color: white;
//   padding: 14px 20px;
//   margin: 8px 0;
//   border: none;
//   cursor: pointer;
  
// }

// /* Add a hover effect for buttons */
// button:hover {
//   opacity: 0.8;
// }

// /* Extra style for the cancel button (red) */
// .cancelbtn {
//   width: auto;
//   padding: 10px 18px;
//   background-color: #f44336;
// }

// .button-class {
//   color: white;
//   cursor: pointer;
//   margin-top: 10px;
// }

// .swal2-styled.swal2-confirm{
//   width: auto;
// }

// .underline {
//   background-color: red;
//   width: 50%;
// }



// .mat-form-field-appearance-legacy .mat-form-field-underline {
//   background-color: white;
//   width: 70%;
//   height: 1px !important;
// }

// .mat-form-field-appearance-legacy .mat-form-field-wrapper {
//   padding-bottom: 1.25em;
//   margin-left: -20px;
// }

// .mat-select-arrow {
//   color: white;
// }


// .mat-form-field-appearance-fill .mat-form-field-flex {
//   background-color: #0a0d16;
// }

// .mat-select-value-text {
//   color: white;
// }

// .hint-color {
//   color: white !important;
// }

// .input-value {
//   color: white !important;
// }

// .mat-datepicker-toggle {
//   color: white;
// }

// .mat-calendar-body-cell-content {
//   // date font color
//   color: white;

// }

// .mat-date-range-input-separator {
//   color: white;
// }

// .mat-datepicker-content-container {
//   background-color: black;
// }

// .mat-calendar-table-header {
//   color: white;
// }

// .mat-calendar-body-selected {
//   // color: #f44336;
//   background-color: #f8f9fa8a;
//   border: none;
// }

// .mat-chip-list-wrapper .mat-standard-chip {
//   background-color: #0a0d16 !important;
//   color: white;
  
// }
// .pagi{
//   margin-top: -67px;
// }

// [type=reset],
// [type=submit],
// button,
// html [type=button] {
//   color: white;
// }

// .mat-calendar-body-in-range::before {
//   background-color: #343a40;
// }

// .mat-datepicker-toggle,
// .mat-datepicker-content .mat-calendar-next-button,
// .mat-datepicker-content .mat-calendar-previous-button {
//   color: white;
// }

// .mat-calendar-body-disabled>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
//   background: black !important;
//   color: #606060	!important;
// }

// .background-color {
//   background-color: #181f32;
//   min-height: 100vh;
//   position: relative;
// }
// .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
//   background-color: #0a0d16;
//   color: #fff;
// }
// .table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
//   background-color: #181F32;
//   color: #fff;
// }

// .background {
//   background:transparent;
//   // border-radius: 16px; 
//   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
//   backdrop-filter: blur(5px);
//   -webkit-backdrop-filter: blur(5px);
 
//   }

// .mat-sort-header {
//   color: white;
//   font-size: large;
// }

// .mat-header-cell {
//   color: white;
//   font-size: large;
// }

// mat-label{
//   color: white !important;
// }

// .mat-form-field-appearance-standard .mat-form-field-underline{
//   background-color: white;
// }

// input.mat-input-element{
//   color: white;
// }

// .mat-paginator-container{
//   color: white;
//   font-size: medium;
//   background-color: #0a0d16;
// }

// .mat-paginator-page-size-label{
//   width: 200px;
// }
// .mat-paginator {
//   color: #fdb927;
 
  
//   background-color: #181F32 !important;
// }
// .mat-dialog-container{
//   border: 1px solid #fdb927;
//   background: #181f32;
//   border-radius: 5px;
// }

// th{
//   position: sticky;
//   top: 0;
//   background-color:#181f32;// #283350;
//   z-index: 1;
// }

// // .table-striped > tbody > tr:nth-child(odd) > td {
// //   background-color:#051d43;// #0e387a;
// // }

// // .table-striped > tbody > tr:nth-child(even) > td {
// //   background-color:#001e4d;//#051f4f;
// // }

// .btn-up{
//   width:70px;
//   font-size: 13px;
//   border: 1px solid $grnbtn;
//   background-color: transparent;
//   color: $grnbtn;
//   box-shadow: inset -5px -5px 9px rgb(0 0 0 / 45%), inset 5px 5px 9px rgb(86 112 239 / 30%);
//   // font-weight: bold;
// }

// .btn-down{
//   width: 70px;
//   font-size: 13px;
//   border: 1px solid $redbtn;
//   background-color: transparent;
//   color: $redbtn;
//   box-shadow: inset -5px -5px 9px rgb(0 0 0 / 45%), inset 5px 5px 9px rgb(86 112 239 / 30%);
//   // font-weight: bold;
// }
// .error{
//   color: $redbtn;
//   font-size: initial;
// }


// .loader {
//   display: inline-block;
//   position: relative;
//   width: 80px;
//   height: 80px;
// }
// .loader div {
//   box-sizing: border-box;
//   display: block;
//   position: absolute;
//   width: 64px;
//   height: 64px;
//   margin: 8px;
//   border: 8px solid #fff;
//   border-radius: 50%;
//   animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
//   border-color: #fff transparent transparent transparent;
// }
// .loader div:nth-child(1) {
//   animation-delay: -0.45s;
// }
// .loader div:nth-child(2) {
//   animation-delay: -0.3s;
// }
// .loader div:nth-child(3) {
//   animation-delay: -0.15s;
// }
// @keyframes loader {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }
// .fa-close{
//   cursor: pointer;
// }

// .evt-download{
//   width: auto;
//   border-radius: 5px;
//   padding: 5px;
//   color: $ylwclr;
//   margin: auto;
//   background-color: transparent;
//   transition: all 150ms ease-in-out;
  
//   &:hover {
//     box-shadow: 0 0 10px 0 $ylwclr inset, 0 0 10px 4px $ylwclr;
//   }
//   }
// .evt{
//   width: 100px;
//   border-radius: 5px;
//   padding: 2px;
//   border:1px solid $ylwclr;
//   color: #fff;
//   margin: auto;
//   background-color: transparent;
//   transition: all 150ms ease-in-out;
  
//   &:hover {
//     box-shadow: 0 0 10px 0 $ylwclr inset, 0 0 10px 4px $ylwclr;
//   }
//   }
//   /* width */
// ::-webkit-scrollbar {
//   width: 10px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #f1f1f1; 
// }
 
// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #888; 
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555; 
// }

// .fa-spin{
//   color:#fdb927;
//    font-size: x-larger; 
//    margin-left:20px; 
//    --fa-animation-duration: 2s;
//     margin-bottom:-10px;
// }
// .chart-box{
//   background:#0a0d16;
//   // border-radius: 16px;
//   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
//   backdrop-filter: blur(5px);
//   -webkit-backdrop-filter: blur(5px);
  
//   }
//   .colo{
//     color:#fdb927;
//   }
  
// .mat-datepicker-t button {
//     color: black !important;
// }
// .mat-input-d {
//     color: black !important;
//     // padding: 0.375rem 0.75rem;
//     padding-left: 17px !important;
// }
// .date-picker {
//   background-color: white !important;
// }
// .mat-select-panel{
//   background-color: #0a0d16 !important;
// }
// .mat-option{
//   color: white;
//  }
//  .mat-option-text{
//   color: white !important;
//  }
//  .mat-pseudo-checkbox {

//   border: 2px solid grey !important;
// }

// .mat-checkbox-frame {
//   border: 2px solid grey !important;
 
// }
// .mat-checkbox-label{
//   color: white;
// }
// .am5-modal{
//   z-index: 100 !important;
// }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
