<div class="main-design text-center">
    <div class="row">
        <div class="col-md-9">
            <h2 class=" text-left  mb-0">
                <i class="fa fa-key" aria-hidden="true"></i>
                &nbsp;
                <b class="colo">Change User Password</b>
                <i class="fa fa-info-circle ml-2 fnt1"
                    title="Must contain min 8 Characters, one capital and one small character, Must contain one letter."
                    aria-hidden="true"></i>

            </h2>
        </div>
        <div class="col-md-3">
            <h2 class="cross" (click)="closeButton('simple')"><i
                    class="fa faf fa-times text-danger float-right  custom-icon"></i></h2>
        </div>
    </div>
    <hr color="grey">
    <form [formGroup]="changePasswordForm" #sign="ngForm">
        <div class="row">
            <label class="col-3 label-sec">
                <h3>Old Password</h3>
            </label>
            <div class="col-8 pass-div">
                <input #id2change1 type="hidden" id="passwordOld" name="passwordOld" formControlName="passwordOld"
                    autocomplete="off">
                <input #id2change type="password" id="oldpass" class="mt-4" name="oldpass" autocomplete="old-password"
                    autocomplete="off" placeholder="Current Password" formControlName="oldpass" readonly
                    onfocus="this.removeAttribute('readonly');" (change)="myOldEncryption($event)">
                <!-- <input class="pas" type="password" placeholder="Current Password" formControlName="oldpass" autocomplete="off" #oldpassword/> -->
                <!-- <span (click)="oldpassword.type=oldpassword.type=='password'?'text':'password'" 
            class="fa fa-fw field-icon toggle-password"
                [ngClass]="(oldpassword.type=='password')?' fa-eye':' fa-eye-slash'" ></span> -->
            </div>
        </div>
        <mat-error class="error" *ngIf="(formSubmitted || f.password.touched) && f.oldpass?.errors?.required">
            Current Password is Required
        </mat-error>

        <div class="row">
            <label class="col-3 label-sec">
                <h3>Password</h3>
            </label>
            <div class="col-8 pass-div">
                <input #id2change1 type="hidden" id="Password" name="password" formControlName="password"
                    autocomplete="off" (change)="myEncryption($event)">
                <input #id2change type="password" id="orgPassword" class="mt-4" name="orgPassword"
                    autocomplete="new-password" autocomplete="off" placeholder="Password" formControlName="orgPassword"
                    readonly onfocus="this.removeAttribute('readonly');" (change)="myEncryption($event)">
                <!-- <input class="pas"  type="password" placeholder="Password" formControlName="password" autocomplete="off" #password/> -->
                <!-- <span [hidden]="!showpw" (click)="id2change.type=id2change.type=='password'?'text':'password'" 
            class="fa fa-fw field-icon toggle-password float-lt"
                [ngClass]="(id2change.type=='password')?' fa-eye':' fa-eye-slash'" ></span>

                <span (click)="id2change1.type=id2change1.type=='password'?'text':'password'" [hidden]="showpw"
                class="fa fa-fw field-icon toggle-password float-lt"
                    [ngClass]="(id2change1.type=='password')?' fa-eye':' fa-eye-slash'" ></span> -->
            </div>

        </div>

        <mat-error class="error" *ngIf="(formSubmitted || f.password.touched) && f.password?.errors?.required">
            Password is Required
        </mat-error>
        <mat-error class="error" *ngIf="f.password.errors?.pattern?.requiredPattern">
            Invalid password Pattern
        </mat-error>
        <mat-error class="error" *ngIf="f.orgPassword.errors?.minLength">
            Password must be more than seven characters long.
        </mat-error>
        <div class="row">
            <label class="col-3 label-sec">
                <h3>Confirm Password</h3>
            </label>
            <div class="col-8 pass-div">
                <input #confirmpassword1 type="hidden" id="encCpassword" name="encCpassword"
                    formControlName="encCpassword" autocomplete="off" (change)="encConfirmPassword($event)">
                <input #confirmpassword type="password" id="cpassword" class="mt-4" name="cpassword"
                    autocomplete="confirm-password" autocomplete="off" placeholder="Confirm Password"
                    formControlName="cpassword" readonly onfocus="this.removeAttribute('readonly');"
                    (change)="encConfirmPassword($event)">
                <!-- <input class="pas"  type="password" placeholder="Confirm Password" formControlName="cpassword" autocomplete="off" #confirmpassword/> -->
                <!-- <span [hidden]="!showConfpw" (click)="confirmpassword.type=confirmpassword.type=='password'?'text':'password'" 
            class="fa fa-fw field-icon toggle-password float-lt"
                [ngClass]="(confirmpassword.type=='password')?' fa-eye':' fa-eye-slash'" ></span> -->

                <!-- <span (click)="confirmpassword1.type=id2change1.type=='password'?'text':'password'" [hidden]="showConfpw"
                class="fa fa-fw field-icon toggle-password float-lt"
                    [ngClass]="(confirmpassword1.type=='password')?' fa-eye':' fa-eye-slash'" ></span> -->
                <!-- <span (click)="confirmpassword.type=confirmpassword.type=='password'?'text':'password'" 
            class="fa fa-fw field-icon toggle-password"
                [ngClass]="(confirmpassword.type=='password')?' fa-eye':' fa-eye-slash'" ></span> -->
            </div>
        </div>
        <mat-error class="error" *ngIf="(formSubmitted || f.cpassword.touched) && f.cpassword.errors?.Required">
            Confirm Password is Required
        </mat-error>
        <mat-error class="error" *ngIf="f.cpassword.errors?.pattern?.requiredPattern">
            Invalid Confirm Password Pattern
        </mat-error>
        <mat-error class="error" *ngIf="f.cpassword.errors?.minLength">
            Password must be more than seven characters long.
        </mat-error>
        <hr color="grey">

        <div class="row mb-0 ">
            <button class="btn btn-warning" [disabled]="!sign.valid" (click)="changePassword()">Change Password</button>
        </div>

    </form>

</div>