.label-sec{
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
  }
  .btn{
    margin-left: auto;
    margin-right: auto;
  }
  .field-icon{
    
    font-size: 18px;
    color: white;
    padding: 14px;
    width: 50px;
  }
  input{
    width: 80%;
    // padding: 0px;
    // margin: 0px;
    // border: none;
  }
  .pas{
    height:35px;
  }
  .fnt1{
    font-size: 16px;
     cursor: pointer;
  }
  .fnt2{
    font-size: 18px;
  }
  
  ::ng-deep.mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: #181F32;
    border-radius: var(--mdc-dialog-container-shape, 4px);
    padding:20px;
  }
  
  .cross{
    align-items: end;
  }
  .custom-icon {
    font-size: 24px; /* Set the desired size */
    /* You can adjust this value to increase/decrease the icon size */
    align-items: end;
  }
  