<div class="main-design text-center">

    <div class="outboxx">
        <div class="center-box ">
            <div class="row text-center mb-2">
                <div class="col-md-3 mt-2"> <img class="ml-5 mt-1" src="{{assetPath}}/logos/cdac.png"
                    alt="C-DAC Mohali" height="95px" width="95px" id="logo"></div>
                <div class="col-md-9">
                  <b class="namm"> Ticketing System</b>
                </div>
              </div>
            <br>
            <h3 class="text-warning ">
                <strong>Reset Password</strong> &nbsp;<span> <i class="fa fa-info-circle cpointer text-white"
                        title="Must contain min 8 characters and one letter, Must have one uppercase and one lowercase character."></i></span>
            </h3>
            <form [formGroup]="recoverForm" autocompleteOff (ngSubmit)="resetPassword()"
                (keydown.enter)="resetPassword()" #recover="ngForm">
                <span>



                </span>

                <div>
                    <input type="text" placeholder="Enter OTP" formControlName="otp" autocomplete="off">
                    <!-- <span class="trn">aa</span> -->
                </div><br>
                <div>
                    <input #id2change1 type="hidden" id="Password" name="password" formControlName="password"
                        autocomplete="off" (change)="myEncryption($event)">
                    <input #id2change type="password" id="newPwd" name="newPwd" autocomplete="new-password"
                        autocomplete="off" placeholder="Enter New Password" formControlName="newPwd" readonly
                        onfocus="this.removeAttribute('readonly');" (change)="myEncryption($event)">
                    <!-- <input type="password" placeholder="Enter New Password" formControlName="newPwd"  autocomplete="off"  #rpassword> -->
                    <!-- <span (click)="rpassword.type=rpassword.type=='password'?'text':'password'" 
            class="fa fa-fw field-icon toggle-password float-lt"
                [ngClass]="(rpassword.type=='password')?' fa-eye':' fa-eye-slash'" ></span> -->
                </div><br>
                <div>
                    <input #confirmpassword1 type="hidden" id="encCpassword" name="encCpassword"
                        formControlName="encCpassword" autocomplete="off" (change)="encConfirmPassword($event)">
                    <input #confirmpassword type="password" id="confirmPwd" name="confirmPwd"
                        autocomplete="confirm-password" autocomplete="off" placeholder="Enter Confirm Password"
                        formControlName="confirmPwd" readonly onfocus="this.removeAttribute('readonly');"
                        (change)="encConfirmPassword($event)">
                    <!-- <input type="password" placeholder="Enter Confirm Password" formControlName="confirmPwd"  autocomplete="off"  #rspassword> -->
                    <!-- <span (click)="rspassword.type=rspassword.type=='password'?'text':'password'" 
            class="fa fa-fw field-icon toggle-password float-lt"
                [ngClass]="(rspassword.type=='password')?' fa-eye':' fa-eye-slash'" ></span> -->

                </div>
                <br>
                <div style="transform:scale(0.75); transform-origin:0 0; margin-left: 23%;">
                    <re-captcha (resolved)="resolved($event)" [siteKey]="siteKey"></re-captcha>
                </div>

                <button class="btn btn-warning cc1" [disabled]="!recover.valid" (click)="resetPassword()">Reset
                    Password</button>


            </form>

        </div>
    </div>

</div>