
.main-design{
    // background-image: url("/assets/images_and_logos/cyber2.gif");
    height: -webkit-fill-available;
    background-repeat: no-repeat;
    background-size:cover ; 
    background-attachment: auto;
  }
  .btn-primary:disabled {
    // color: #fff;
    background-color: grey !important;
    cursor: not-allowed;
  }
  
  .alert-danger{
    width: 25%;
    // padding: 10px;
    margin: auto;
  }
  .center-box{
    margin-left: auto;
    margin-right: auto;
    width: 460px;
    padding: 20px;
    background-color:  #0a0e16;
    box-shadow: 0 5px 10px 0 #000000, 0 7px 24px 0 #000000;
  
  }
  .outboxx{
    margin-top: 9%;
  }
  ::ng-deep {
  .gradient-border {
    --b: 1px; /* border thickness */
    --c: #0000 25%,silver 0; /* define the color here */
    padding: 10px;
    background:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--c)) 0    0,
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--c)) 100% 0,
      conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--c)) 0    100%,
      conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--c)) 100% 100%;
    background-size: 50px 50px; /* adjust border length here */
    background-repeat: no-repeat;
    transition: .6s;
    cursor: pointer;
  }
  .gradient-border:hover {
    background-size: 51% 51%;
  }
  
  }
  input[type=text]{
    width: 80%;
    
    margin-left: 4%;
    /*padding: 12px 20px;*/
    height:32px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=password]{
    width: 80%;
    margin-left: 4%;
    /*padding: 12px 20px;*/
    height: 32px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .text-color{
    color:#33CCCC;
  }
  .btn-color{
    background-color:#fdb927;
    color: black;
  }
  .colob{
  
  color: black;
  }
  .trn{
    color: transparent;
  }
  .fp:hover{
    color: #fdb927;
  }
  .cc1{
    width: 80%;
  }
    