<app-header></app-header>
<br>
<h2>New Project</h2>

<div class="container">

<form>
  <div class="row">
      <div class="col-25">
        <label for="project">Name</label>
      </div>
      <div class="col-75">
        <input type="text" placeholder="enter new project name">
      </div>
  </div>
  <div class="row">
      <div class="col-25">
        <label for="subject">Description</label>
      </div>
      <div class="col-75">
        <textarea id="Description" placeholder="add description..." style="height:100px"></textarea>
      </div>
    </div>
      <div class="row">
      <div class="col-25">
        <label for="project">Public</label>
      </div>
      <div class="col-75">
        <input type="checkbox" class="button">
      </div>
    </div>
  </form>
</div>
